:root {
  --color-1: #332742;
  --color-2: #2aab61;
  --color-3: #f29849;
  --color-4: #fa83cc;
  --color-5: #38f2d0;
}

* {
  margin: 0;
}

.Nav {
  background-color: var(--color-5);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 100%;
}

ul {
  display: flex;
  gap: 20px;
  padding-right: 2rem;
}

li {
  list-style: none;
  font-size: 1.5rem;
}

.flexBoxMain {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-color: white;
}

.flexboxImage {
  width: 40vw;
  height: 100%;
}

.shakerSection {
  display: flex;
  margin: 0;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.playerImg {
  height: 80%;
}

.scoreText {
  width: 100%;
  height: 20%;
  color: black;
  text-align: center;
  font-size: 80px;
}

.flexboxShop {
  width: 60vw;
  height: 90vh;
  display: flex;
}

.classicCocktails {
  width: 20vw;
  background-color: red;
}

.signatureCocktails {
  width: 20vw;
  background-color: blue;
}

.extras {
  width: 20vw;
  background-color: green;
}

.shopItem {
  display: flex;
  background-color: rgb(192, 124, 255);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.shopItemNotAvailable {
  display: flex;
  background-color: rgb(48, 48, 48);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.shopItem button {
  height: 100%;
  width: 150px;
  cursor: pointer;
}

.shopItemNotAvailable button {
  display: none;
}
